### Import

In [268]:
import pandas as pd

In [269]:
pd.options.display.max_columns = None

### Load Data

In [270]:
# from : https://github.com/stccenter/COVID-19-Data/tree/master/Socioeconomic%20Data/Socioeconomic%20determinants
df = pd.read_csv('data/Socioeconomic Data/Socioeconomic determinants/socioeconomic determinant for state.csv')

#from: https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data
df_2 = pd.read_csv('data/csse_covid_19_daily_reports_us/12-31-2020.csv')
covid_cases = pd.read_csv('data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
covid_death = pd.read_csv('data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

#from : https://www.bls.gov/lau/ 
df3 = pd.read_csv('data/yun_data/unemp_states__2020.csv')

### Data Cleaning

In [271]:
df.head()

,FIPS,Name,Postal Code,Area size,Population size,Population density,Senior Population,Young Population,Male Population,White Population,Africa-American Population,Hispanic population,Internet access,High school degree,Bachelor degrees,Median household income,Poverty rate,Uninsured,Household size,House Owner,hospital,hospital bed,ICU bed,ventilator usage,Nurses,Medical Doctors
0,1,Alabama,AL,135767,4903185,36.114704,17.4,18.3,48.3,69.5,27.8,4.5,81.9,12.9,16.3,51734,15.5,9.7,2.60,68.8,119,18611,1637,383,85746,43429
1,2,Alaska,AK,1723337,731545,0.424493,12.4,21.0,52.0,71.4,4.7,7.2,88.0,6.4,18.5,75463,10.1,12.2,2.90,64.7,28,1832,193,41,15487,18418
2,4,Arizona,AZ,295234,7278717,24.654061,18.0,18.7,49.7,81.7,6.0,31.7,87.4,12.4,18.8,62055,13.5,11.3,2.71,65.3,125,18388,1882,427,93928,84130
3,5,Arkansas,AR,137732,3017804,21.910696,17.4,19.2,48.9,79.3,16.7,7.7,80.1,12.5,15.1,48952,16.2,9.1,2.59,65.5,105,12473,914,261,42487,47343
4,6,California,CA,423967,39512223,93.196459,14.8,18.7,49.7,63.6,7.0,39.4,90.0,16.0,21.9,80440,11.8,7.7,3.02,54.9,461,80893,8652,1986,444964,588052

In [272]:
df_2.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,People_Hospitalized,Case_Fatality_Ratio,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2021-01-01 05:30:27,32.3182,-86.9023,361226,4827,202137.0,154262.0,1.0,7367.170523,1874000.0,NaN,1.336283,84000001.0,USA,38220.054923,NaN
1,Alaska,US,2021-01-01 05:30:27,61.3707,-152.4044,46986,206,7165.0,39615.0,2.0,6422.844801,1275750.0,NaN,0.438428,84000002.0,USA,174391.185778,NaN
2,American Samoa,US,2021-01-01 05:30:27,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,2140.0,NaN,NaN,16.0,ASM,3846.084722,NaN
3,Arizona,US,2021-01-01 05:30:27,33.7298,-111.4312,520207,8864,75981.0,435362.0,4.0,7146.960103,2834752.0,NaN,1.703937,84000004.0,USA,38945.764755,NaN
4,Arkansas,US,2021-01-01 05:30:27,34.9697,-92.3731,225138,3676,199247.0,22215.0,5.0,7460.325455,2051488.0,NaN,1.632776,84000005.0,USA,67979.497674,NaN

In [273]:
dmf=df.merge(df_2, left_on='Name', right_on='Province_State')

In [274]:
dmf.drop(columns = ['FIPS_x','Province_State','Country_Region',
                    'Last_Update','Lat','Long_','FIPS_y','People_Hospitalized',
                    'UID','ISO3','Hospitalization_Rate'], inplace=True)

In [275]:
dmf['Recovered'] = dmf['Confirmed'] - dmf['Deaths'] - dmf['Active']
dmf['deaths_per_population'] = dmf['Deaths'] / dmf['Population size']
dmf['recovered_per_population'] = dmf['Recovered'] / dmf['Population size']
dmf['confirmed_per_population'] = dmf['Confirmed'] / dmf['Population size']
dmf['active_per_population'] = dmf['Active'] / dmf['Population size']
dmf.head()

,Name,Postal Code,Area size,Population size,Population density,Senior Population,Young Population,Male Population,White Population,Africa-American Population,Hispanic population,Internet access,High school degree,Bachelor degrees,Median household income,Poverty rate,Uninsured,Household size,House Owner,hospital,hospital bed,ICU bed,ventilator usage,Nurses,Medical Doctors,Confirmed,Deaths,Recovered,Active,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,deaths_per_population,recovered_per_population,confirmed_per_population,active_per_population
0,Alabama,AL,135767,4903185,36.114704,17.4,18.3,48.3,69.5,27.8,4.5,81.9,12.9,16.3,51734,15.5,9.7,2.60,68.8,119,18611,1637,383,85746,43429,361226,4827,202137.0,154262.0,7367.170523,1874000.0,1.336283,38220.054923,0.000984,0.041226,0.073672,0.031462
1,Alaska,AK,1723337,731545,0.424493,12.4,21.0,52.0,71.4,4.7,7.2,88.0,6.4,18.5,75463,10.1,12.2,2.90,64.7,28,1832,193,41,15487,18418,46986,206,7165.0,39615.0,6422.844801,1275750.0,0.438428,174391.185778,0.000282,0.009794,0.064228,0.054153
2,Arizona,AZ,295234,7278717,24.654061,18.0,18.7,49.7,81.7,6.0,31.7,87.4,12.4,18.8,62055,13.5,11.3,2.71,65.3,125,18388,1882,427,93928,84130,520207,8864,75981.0,435362.0,7146.960103,2834752.0,1.703937,38945.764755,0.001218,0.010439,0.071470,0.059813
3,Arkansas,AR,137732,3017804,21.910696,17.4,19.2,48.9,79.3,16.7,7.7,80.1,12.5,15.1,48952,16.2,9.1,2.59,65.5,105,12473,914,261,42487,47343,225138,3676,199247.0,22215.0,7460.325455,2051488.0,1.632776,67979.497674,0.001218,0.066024,0.074603,0.007361
4,California,CA,423967,39512223,93.196459,14.8,18.7,49.7,63.6,7.0,39.4,90.0,16.0,21.9,80440,11.8,7.7,3.02,54.9,461,80893,8652,1986,444964,588052,2325599,25986,34503.0,2265110.0,5798.223502,32855482.0,1.130376,83152.704418,0.000658,0.000873,0.058858,0.057327

In [276]:
# create covid-19 cases monthly columns
covid_cases_states = covid_cases.groupby('Province_State').agg('sum')
covid_cases_states = covid_cases_states[['1/31/20','2/29/20','3/31/20','4/30/20','5/31/20',
                                                '6/30/20','7/31/20','8/31/20','9/30/20','10/31/20',
                                                '11/30/20','12/31/20']]

covid_cases_states['cases1'] = covid_cases_states.iloc[:,0]

for i in range(1,12):
    col_name = 'cases'+str(i+1)
    covid_cases_states[col_name] = covid_cases_states.iloc[:,i]-covid_cases_states.iloc[:,i-1]

# Add total cases column
covid_cases_states['casestotal'] = covid_cases_states['12/31/20']

# Drop unwanted columns
covid_cases_states.drop(columns = ['1/31/20','2/29/20','3/31/20','4/30/20','5/31/20',
                                                '6/30/20','7/31/20','8/31/20','9/30/20','10/31/20',
                                                '11/30/20','12/31/20'], inplace = True)

In [277]:
# create death monthly columns
covid_death_states = covid_death.groupby('Province_State').agg('sum')
covid_death_states = covid_death_states[['1/31/20','2/29/20','3/31/20','4/30/20','5/31/20',
                                                '6/30/20','7/31/20','8/31/20','9/30/20','10/31/20',
                                                '11/30/20','12/31/20']]

covid_death_states['death1'] = covid_death_states.iloc[:,0]
for i in range(1,12):
    col_name = 'death'+str(i+1)
    covid_death_states[col_name] = covid_death_states.iloc[:,i]-covid_death_states.iloc[:,i-1]

# Add total death column
covid_death_states['deathtotal'] = covid_death_states['12/31/20']

# Drop unwanted columns
covid_death_states.drop(columns = ['1/31/20','2/29/20','3/31/20','4/30/20','5/31/20',
                                                '6/30/20','7/31/20','8/31/20','9/30/20','10/31/20',
                                                '11/30/20','12/31/20'], inplace = True)

In [278]:
# drop non-states
covid_cases_states.drop(covid_cases_states[covid_cases_states.index.isin(['American Samoa','Diamond Princess','Grand Princess','Northern Mariana Islands','Guam','Virgin Islands','Puerto Rico'])].index, inplace = True )
covid_death_states.drop(covid_death_states[covid_death_states.index.isin(['American Samoa','Diamond Princess','Grand Princess','Northern Mariana Islands','Guam','Virgin Islands','Puerto Rico'])].index, inplace = True )

In [279]:
covid_cases_states.head()

,cases1,cases2,cases3,cases4,cases5,cases6,cases7,cases8,cases9,cases10,cases11,cases12,casestotal
Province_State,,,,,,,,,,,,,
Alabama,0,0,1063,6124,11013,20277,49789,38234,28272,38841,55911,111702,361226
Alaska,0,0,129,231,124,658,2574,2457,2672,7510,16221,14410,46986
Arizona,1,0,1288,6366,12281,59292,94782,27825,16672,27439,80871,193390,520207
Arkansas,0,0,523,2758,3972,13524,21734,18713,22473,28493,45169,67779,225138
California,3,9,8221,42479,62207,126805,267482,207366,107619,114064,308697,1080647,2325599

In [280]:
covid_death_states.head()

,death1,death2,death3,death4,death5,death6,death7,death8,death9,death10,death11,death12,deathtotal
Province_State,,,,,,,,,,,,,
Alabama,0,0,23,249,358,320,630,602,358,427,611,1249,4827
Alaska,0,0,3,6,1,4,9,14,19,26,39,85,206
Arizona,0,0,25,295,587,738,2049,1335,621,329,660,2225,8864
Arkansas,0,0,8,53,72,137,183,344,572,556,577,1174,3676
California,0,0,173,1858,2141,1910,3132,3808,2863,1774,1555,6772,25986

In [281]:
# merge covid cases and death monthly
covid_df = pd.merge(covid_cases_states, covid_death_states, left_index = True, right_index= True, how='left')

In [282]:
df3.head()

,state,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,alabama,2.7,2.7,3.0,13.8,9.6,7.6,7.9,5.6,6.7,5.7,4.4,3.9
1,alaska,6.0,5.8,5.2,13.5,12.7,12.4,11.6,7.4,7.2,5.9,6.3,5.8
2,arizona,4.5,4.5,6.1,13.4,9.0,10.0,10.7,5.9,6.5,7.9,8.0,7.5
3,arkansas,3.5,3.5,5.0,10.8,9.6,8.1,7.1,7.4,7.2,6.2,6.3,4.2
4,california,3.9,3.9,5.5,16.4,16.4,14.9,13.5,11.2,11.1,9.0,8.1,9.0

In [283]:
# make a new df summary of covid cases, death and unemployment rate per month in 2020  
df_cov_unemp_summary = pd.DataFrame()
df_cov_unemp_summary['unemp_rate'] = round(df3.mean(),2)[0:12]
df_cov_unemp_summary['month'] = df_cov_unemp_2020_summary.index
df_cov_unemp_summary.reset_index(drop=True, inplace=True)
df_cov_unemp_summary = df_cov_unemp_2020_summary[ ['month'] + [ col for col in df_cov_unemp_2020_summary.columns if col != 'month' ] ]
df_cov_unemp_summary['cases']= covid_cases_states.sum()[0:12].values
df_cov_unemp_summary['death']= covid_death_states.sum()[0:12].values

In [284]:
df_cov_unemp_summary.head()

  month  unemp_rate   cases  death
0   Jan        3.65       8      0
1   Feb        3.62      17      1
2   Mar        4.15  191784   5320
3   Apr       14.18  887884  60708
4   May       12.28  717317  41684

In [285]:
df3['unemp_year_rate'] = round(df3.mean(axis=1),2)

In [286]:
covid_df['covid_state'] = covid_df.index

In [287]:
covid_df = covid_df[['covid_state'] + [ col for col in covid_df.columns if col != 'covid_state' ] ]

In [288]:
covid_df.head()

,covid_state,cases1,cases2,cases3,cases4,cases5,cases6,cases7,cases8,cases9,cases10,cases11,cases12,casestotal,death1,death2,death3,death4,death5,death6,death7,death8,death9,death10,death11,death12,deathtotal
Province_State,,,,,,,,,,,,,,,,,,,,,,,,,,,
Alabama,Alabama,0,0,1063,6124,11013,20277,49789,38234,28272,38841,55911,111702,361226,0,0,23,249,358,320,630,602,358,427,611,1249,4827
Alaska,Alaska,0,0,129,231,124,658,2574,2457,2672,7510,16221,14410,46986,0,0,3,6,1,4,9,14,19,26,39,85,206
Arizona,Arizona,1,0,1288,6366,12281,59292,94782,27825,16672,27439,80871,193390,520207,0,0,25,295,587,738,2049,1335,621,329,660,2225,8864
Arkansas,Arkansas,0,0,523,2758,3972,13524,21734,18713,22473,28493,45169,67779,225138,0,0,8,53,72,137,183,344,572,556,577,1174,3676
California,California,3,9,8221,42479,62207,126805,267482,207366,107619,114064,308697,1080647,2325599,0,0,173,1858,2141,1910,3132,3808,2863,1774,1555,6772,25986

In [289]:
covid_df.reset_index(drop=True, inplace=True)

In [290]:
unemp_covid_df = pd.concat([covid_df,df3], axis= 1)

In [291]:
unemp_covid_df.head()

,covid_state,cases1,cases2,cases3,cases4,cases5,cases6,cases7,cases8,cases9,cases10,cases11,cases12,casestotal,death1,death2,death3,death4,death5,death6,death7,death8,death9,death10,death11,death12,deathtotal,state,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,unemp_year_rate
0,Alabama,0.0,0.0,1063.0,6124.0,11013.0,20277.0,49789.0,38234.0,28272.0,38841.0,55911.0,111702.0,361226.0,0.0,0.0,23.0,249.0,358.0,320.0,630.0,602.0,358.0,427.0,611.0,1249.0,4827.0,alabama,2.7,2.7,3.0,13.8,9.6,7.6,7.9,5.6,6.7,5.7,4.4,3.9,6.13
1,Alaska,0.0,0.0,129.0,231.0,124.0,658.0,2574.0,2457.0,2672.0,7510.0,16221.0,14410.0,46986.0,0.0,0.0,3.0,6.0,1.0,4.0,9.0,14.0,19.0,26.0,39.0,85.0,206.0,alaska,6.0,5.8,5.2,13.5,12.7,12.4,11.6,7.4,7.2,5.9,6.3,5.8,8.32
2,Arizona,1.0,0.0,1288.0,6366.0,12281.0,59292.0,94782.0,27825.0,16672.0,27439.0,80871.0,193390.0,520207.0,0.0,0.0,25.0,295.0,587.0,738.0,2049.0,1335.0,621.0,329.0,660.0,2225.0,8864.0,arizona,4.5,4.5,6.1,13.4,9.0,10.0,10.7,5.9,6.5,7.9,8.0,7.5,7.83
3,Arkansas,0.0,0.0,523.0,2758.0,3972.0,13524.0,21734.0,18713.0,22473.0,28493.0,45169.0,67779.0,225138.0,0.0,0.0,8.0,53.0,72.0,137.0,183.0,344.0,572.0,556.0,577.0,1174.0,3676.0,arkansas,3.5,3.5,5.0,10.8,9.6,8.1,7.1,7.4,7.2,6.2,6.3,4.2,6.58
4,California,3.0,9.0,8221.0,42479.0,62207.0,126805.0,267482.0,207366.0,107619.0,114064.0,308697.0,1080647.0,2325599.0,0.0,0.0,173.0,1858.0,2141.0,1910.0,3132.0,3808.0,2863.0,1774.0,1555.0,6772.0,25986.0,california,3.9,3.9,5.5,16.4,16.4,14.9,13.5,11.2,11.1,9.0,8.1,9.0,10.24

In [292]:
unemp_covid_df.drop(columns= ['state'], inplace = True)

In [293]:
dmf['unemp_year_rate'] = unemp_covid_df['unemp_year_rate']

### Save the clean DataFrame into csv files

In [294]:
unemp_covid_df.to_csv('data/yun_data/output/unemployment_covid_2020.csv', index = False)
covid_df.to_csv('data/yun_data/output/covid_monthly_2020.csv',index = False)
dmf.to_csv('data/yun_data/output/covid_socio_2020.csv',index = False)
df3.to_csv('data/yun_data/output/unemp_rate_2020.csv',index = False)
df_cov_unemp_summary.to_csv('data/yun_data/output/cov_unemp_summary.csv',index = False)